<?xml version="1.0"?>
<config>
    <modules>
        <Insync_Supplier>
            <version>0.1.0</version>
        </Insync_Supplier>
    </modules>
    <frontend>
        <routers>
            <supplier>
                <use>standard</use>
                <args>
                    <module>Insync_Supplier</module>
                    <frontName>supplier</frontName>
                </args>
            </supplier>
        </routers>
        <layout>
            <updates>
                <supplier>
                    <file>supplier.xml</file>
                </supplier>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<supplier>
				<use>admin</use>
				<args>
					<module>Insync_Supplier</module>
					<frontName>supplier</frontName>
				</args>
			</supplier>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<supplier module="supplier">
				<title>Supplier</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="supplier">
						<title>Supplier Order</title>
						<sort_order>0</sort_order>
						<action>supplier/adminhtml_supplier</action>
					</items>
				</children>
			</supplier>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Insync_Supplier>
							<title>Supplier Module</title>
							<sort_order>10</sort_order>
						</Insync_Supplier>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<supplier>
					<file>supplier.xml</file>
				</supplier>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <supplier>
                <class>Insync_Supplier_Model</class>
                <resourceModel>supplier_mysql4</resourceModel>
            </supplier>
            <supplier_mysql4>
                <class>Insync_Supplier_Model_Mysql4</class>
                <entities>
                    <supplier>
                        <table>supplier</table>
                    </supplier>
                </entities>
            </supplier_mysql4>
        </models>
        <resources>
            <supplier_setup>
                <setup>
                    <module>Insync_Supplier</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </supplier_setup>
            <supplier_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </supplier_write>
            <supplier_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </supplier_read>
        </resources>
        <blocks>
            <supplier>
                <class>Insync_Supplier_Block</class>
            </supplier>
        </blocks>
        <helpers>
            <supplier>
                <class>Insync_Supplier_Helper</class>
            </supplier>
        </helpers>
    </global>
</config>