<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitproductslists>
            <version>1.0.4</version>
        </Aitoc_Aitproductslists>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitproductslists>
                    <files>
                        <default>Aitoc_Aitproductslists.csv</default>
                    </files>
                </Aitoc_Aitproductslists>
            </modules>
        </translate>
        <routers>
            <aitproductslists>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitproductslists</module>
                    <frontName>aitproductslists</frontName>
                </args>
            </aitproductslists>
        </routers>
        <layout>
            <updates>
                <aitproductslists>
                    <file>aitproductslists.xml</file>
                </aitproductslists>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitproductslists>
                    <files>
                        <default>Aitoc_Aitproductslists.csv</default>
                    </files>
                </Aitoc_Aitproductslists>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitproductslists>
                    <file>aitproductslists.xml</file>
                </aitproductslists>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aitproductslists before="Mage_Adminhtml">Aitoc_Aitproductslists_Adminhtml</aitproductslists>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <aitproductslists>
                <class>Aitoc_Aitproductslists_Model</class>
                <resourceModel>aitproductslists_mysql4</resourceModel>
            </aitproductslists>
            <catalog>
                <rewrite>
                    <product>Aitoc_Aitproductslists_Model_Rewrite_CatalogProduct</product>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order>Aitoc_Aitproductslists_Model_Rewrite_SalesOrder</order>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <observer>Aitoc_Aitproductslists_Model_Rewrite_SalesObserver</observer>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <quote>Aitoc_Aitproductslists_Model_Rewrite_Sales_Quote</quote>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <quote_item>Aitoc_Aitproductslists_Model_Rewrite_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Aitoc_Aitproductslists_Model_Rewrite_Adminhtml_SalesOrderCreate</sales_order_create>
                </rewrite>
            </adminhtml>
            <aitproductslists_mysql4>
                <class>Aitoc_Aitproductslists_Model_Mysql4</class>
                <entities>
                    <list>
                        <table>aitproductslists_list</table>
                    </list>
                    <list_shedule>
                        <table>aitproductslists_shedule</table>
                    </list_shedule>
                    <list_reminder>
                        <table>aitproductslists_list_reminder</table>
                    </list_reminder>
                    <list_discount>
                        <table>aitproductslists_list_discount</table>
                    </list_discount>
                    <list_order>
                        <table>aitproductslists_list_order</table>
                    </list_order>
                    <list_purchase>
                        <table>aitproductslists_list_purchase</table>
                    </list_purchase>
                    <list_item>
                        <table>aitproductslists_list_item</table>
                    </list_item>
                    <notices>
                        <table>aitproductslists_notices</table>
                    </notices>
                    <list_order_multishipping>
                        <table>aitproductslists_order_multishipping</table>
                    </list_order_multishipping>
                </entities>
            </aitproductslists_mysql4>
        </models>
        <resources>
            <aitproductslists_setup>
                <setup>
                    <module>Aitoc_Aitproductslists</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitproductslists_setup>
            <aitproductslists_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitproductslists_write>
            <aitproductslists_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitproductslists_read>
        </resources>
        <blocks>
            <aitproductslists>
                <class>Aitoc_Aitproductslists_Block</class>
            </aitproductslists>
            <page>
                <rewrite>
                    <html_notices>Aitoc_Aitproductslists_Block_Rewrite_PageHtmlNotices</html_notices>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Aitoc_Aitproductslists_Block_Rewrite_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_create_form>Aitoc_Aitproductslists_Block_Rewrite_Adminhtml_Sales_Order_Create_Form</sales_order_create_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <aitproductslists>
                <class>Aitoc_Aitproductslists_Helper</class>
            </aitproductslists>
        </helpers>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <aitproductslists_sent_notice>
                        <type>singleton</type>
                        <class>aitproductslists/observer</class>
                        <method>sentAdminNotice</method>
                    </aitproductslists_sent_notice>
                </observers>
            </controller_action_predispatch_adminhtml>
            <customer_login>
                <observers>
                    <aitproductslists_customer_login>
                        <type>singleton</type>
                        <class>aitproductslists/observer</class>
                        <method>customerLogin</method>
                    </aitproductslists_customer_login>
                </observers>
            </customer_login>
            <sales_quote_remove_item>
                <observers>
                    <aitproductslists_quote_remove_item_observer>
                        <type>singleton</type>
                        <class>aitproductslists/observer</class>
                        <method>removeItemNotice</method>
                    </aitproductslists_quote_remove_item_observer>
                </observers>
            </sales_quote_remove_item>
            <controller_action_postdispatch>
                <observers>
                    <aitproductslists_rule>
                        <type>singleton</type>
                        <class>aitproductslists/observer</class>
                        <method>installCartRule</method>
                    </aitproductslists_rule>
                </observers>
            </controller_action_postdispatch>
            <sales_quote_item_save_after>
                <observers>
                    <aitproductslists_quote_item_save_after_list_purchase>
                        <type>singleton</type>
                        <class>aitproductslists/list_purchase</class>
                        <method>add</method>
                    </aitproductslists_quote_item_save_after_list_purchase>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_item_save_after>
                <observers>
                    <aitproductslists_item_save_after_list_item>
                        <type>singleton</type>
                        <class>aitproductslists/list_item</class>
                        <method>add</method>
                    </aitproductslists_item_save_after_list_item>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_remove_item>
                <observers>
                    <aitproductslists_quote_remove_item_list_purchase>
                        <type>singleton</type>
                        <class>aitproductslists/list_purchase</class>
                        <method>remove</method>
                    </aitproductslists_quote_remove_item_list_purchase>
                </observers>
            </sales_quote_remove_item>
            <catalog_product_status_update>
                <observers>
                    <aitproductslists_product_status_update>
                        <type>singleton</type>
                        <class>aitproductslists/list_notifier</class>
                        <method>changeProductStatus</method>
                    </aitproductslists_product_status_update>
                </observers>
            </catalog_product_status_update>
            <checkout_cart_update_items_after>
                <observers>
                    <aitproductslists_cart_update_items_after>
                        <type>singleton</type>
                        <class>aitproductslists/list_purchase</class>
                        <method>update</method>
                    </aitproductslists_cart_update_items_after>
                </observers>
            </checkout_cart_update_items_after>
            <aitproductlists_order_status_complete>
                <observers>
                    <aitproductslists_order_status_change>
                        <type>singleton</type>
                        <class>aitproductslists/list_purchase</class>
                        <method>confirm</method>
                    </aitproductslists_order_status_change>
                </observers>
            </aitproductlists_order_status_complete>
            <salesrule_validator_process>
                <observers>
                    <aitproductslists_validator_process>
                        <type>singleton</type>
                        <class>aitproductslists/list_discount</class>
                        <method>onSalesruleValidatorProcess</method>
                    </aitproductslists_validator_process>
                </observers>
            </salesrule_validator_process>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <aitproductslists>
                        <type>model</type>
                        <class>aitproductslists/cart_observer</class>
                        <method>onAdminhtmlControllerActionPredispatchStart</method>
                    </aitproductslists>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <controller_front_init_routers>
                <observers>
                    <aitproductslists>
                        <type>model</type>
                        <class>aitproductslists/sales_quote_observer</class>
                        <method>onControllerFrontInitRouters</method>
                    </aitproductslists>
                </observers>
            </controller_front_init_routers>
        </events>
        <template>
            <email>
                <aitproductslists_discount_template translate="label" module="aitproductslists">
                    <label>Reminder Email</label>
                    <file>aitproductslists_discount.html</file>
                    <type>html</type>
                </aitproductslists_discount_template>
                <aitproductslists_reminder_template translate="label" module="aitproductslists">
                    <label>Discount Email</label>
                    <file>aitproductslists_reminder.html</file>
                    <type>html</type>
                </aitproductslists_reminder_template>
                <aitproductslists_product_disable_template translate="label" module="aitproductslists">
                    <label>Product Disable Email</label>
                    <file>aitproductslists_product_disable.html</file>
                    <type>html</type>
                </aitproductslists_product_disable_template>
            </email>
        </template>
    </global>
    <default>
        <aitproductslists>
            <share>
                <twitter>1</twitter>
                <facebook>1</facebook>
                <email>1</email>
            </share>
            <customer>
                <discount>3</discount>
                <reset>1</reset>
            </customer>
            <discount>
                <percent>80</percent>
            </discount>
            <reminder>
                <template>aitproductslists_reminder_template</template>
            </reminder>
            <discount>
                <template>aitproductslists_discount_template</template>
            </discount>
            <product>
                <disable>
                    <template>aitproductslists_product_disable_template</template>
                </disable>
            </product>
        </aitproductslists>
    </default>
    <crontab>
        <jobs>
            <aitproductlists_send_reminder>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aitproductslists/list_reminder_shedule::cronSender</model>
                </run>
            </aitproductlists_send_reminder>
        </jobs>
    </crontab>
</config>
<!--
/**
 * Product:     Recurring Purchase Assistant
 * Package:     Aitoc_Aitproductslists_1.0.4_1.0.0_520324
 * Purchase ID: kFkbuT14FmWJApKR3QE9iykvMGpr0gLJWvjTDjDtbI
 * Generated:   2013-03-08 08:15:21
 * File path:   app/code/local/Aitoc/Aitproductslists/etc/config.xml
 * Copyright:   (c) 2013 AITOC, Inc.
 */
-->
