<?xml version="1.0" encoding="UTF-8"?><config>    <modules>        <Insync_Catalog>            <version>1.0</version>        </Insync_Catalog>    </modules>    <global>        <models>            <sboeconnectcatalogproduct>                <class>Insync_Catalog_Model</class>            </sboeconnectcatalogproduct>            <catalogmediasbo>                <class>Insync_Catalog_Model_Product_Attribute_Media</class>            </catalogmediasbo>			<sboeconnectcatalogattribute>                <class>Insync_Catalog_Model_Product_Attribute</class>            </sboeconnectcatalogattribute>        </models>    </global></config>