<?xml version="1.0"?>
<config>
    <modules>
        <Insync_Rule>
            <version>0.1.0</version>
        </Insync_Rule>
    </modules>
    <frontend>
        <routers>
            <rule>
                <use>standard</use>
                <args>
                    <module>Insync_Rule</module>
                    <frontName>rule</frontName>
                </args>
            </rule>
        </routers>
        <layout>
            <updates>
                <rule>
                    <file>rule.xml</file>
                </rule>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<rule>
				<use>admin</use>
				<args>
					<module>Insync_Rule</module>
					<frontName>rule</frontName>
				</args>
			</rule>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rule module="rule">
				<title>Business Rule</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="rule">
						<title>Business Rule</title>
						<sort_order>0</sort_order>
						<action>rule/adminhtml_rule</action>
					</items>
				</children>
			</rule>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Insync_Rule>
							<title>Rule Module</title>
							<sort_order>10</sort_order>
						</Insync_Rule>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rule>
					<file>rule.xml</file>
				</rule>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <rule>
                <class>Insync_Rule_Model</class>
                <resourceModel>rule_mysql4</resourceModel>
            </rule>
            <rule_mysql4>
                <class>Insync_Rule_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>rule</table>
                    </rule>
                </entities>
            </rule_mysql4>
        </models>
        <resources>
            <rule_setup>
                <setup>
                    <module>Insync_Rule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rule_setup>
            <rule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rule_write>
            <rule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rule_read>
        </resources>
        <blocks>
            <rule>
                <class>Insync_Rule_Block</class>
            </rule>
        </blocks>
        <helpers>
            <rule>
                <class>Insync_Rule_Helper</class>
            </rule>
        </helpers>
    </global>
</config>