<?xml version="1.0" encoding="UTF-8"?><config>    <modules>        <Insync_Customer>            <version>1.0</version>        </Insync_Customer>    </modules>    <global>        <models>            <customersbo>                <class>Insync_Customer_Model</class>            </customersbo>        </models>    </global></config>